@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a, h1 {
    font-family: 'Montserrat', sans-serif;
}

.centralizar {
    width: 894px;
    margin: auto;
}

.box-contatos, .box-header, .box-texto-imagem, .box-cards {
    padding: 0 10px;
}

.container-contatos {
    background-color: var(--roxo-principal);
    color: white;
}

.box-contatos {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.box-contatos p {
    margin-bottom: 0;
}

.submenu-1, .submenu-2 {
    display: none !important;
}

.submenu-2 {
    margin-left: 98px;
    margin-bottom: 20px !important;
}

.abrir-submenu-1:hover .submenu-1 {
    display: block !important;
    position: absolute;
    background-color: var(--roxo-principal);
    z-index: 1;
}

.abrir-submenu-1:hover .submenu-1 ul {
    display: block !important;
}

.abrir-submenu-2:hover .submenu-2 {
    display: block !important;
    margin-top: -34px;
    position: absolute;
    background-color: var(--roxo-principal);
}

.submenu-1 li {
    margin: 0;
    padding: 10px;
}

.submenu-1 li:hover {
    background-color: var(--roxo-hover);
}

header {
    padding-top: 10px;
}

header img {
    padding: 5px;
}

.box-header {
    display: flex;
    justify-content: space-between;
}

.box-header div {
    display: flex;
    align-items: center;
}

nav {
    align-self: flex-end;
    justify-content: end;
}

nav ul {
    display: flex !important;
    text-align: center;
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    margin: 0 10px;
    padding: 5px;
    text-transform: uppercase;
}

a {
    color: var(--cor-links);
    font-weight: 500;
}

.box-carousel-color {
    width: 100%;
    margin: auto;
    background-color: var(--roxo-secundario);
}

.box-carousel {
    margin: auto;
    width: 894px;
    padding: 0;
}

.box-carousel img {
    width: 894px;
    height: 290px;
}

.box-texto-imagem, .box-cards {
    margin: 10px 0;
}

.box-texto-imagem {
    display: flex;
    justify-content: space-between;
}

.box-texto-imagem img {
    width: 325px;
    height: 212px;
}

.box-texto-imagem ul {
    list-style-position: inside;
}

.box-cards {
    display: flex;
    flex-direction: column;
}

.box-cards div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.box-cards figure {
    width: 20%;
}

.box-cards figure img {
    width: 196px;
    height: 163px;
}

footer {
    background-color: var(--roxo-principal);
    color: white;
}

footer p {
    margin: 30px 0;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    margin: 0;
    justify-content: center;
    list-style: none;
}

footer ul li {
    margin: 10px;
    text-transform: uppercase;
}